<header>
    <section class="title-area">
        <h1>NOVA ADMISSÃO COOPERADO</h1>
        <h4>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</h4>
    </section>
    <nav style="display: flex; align-items: center">
        <button class="notification-bell">
            <img
                src="../../../../assets/svg/bell.svg"
                alt="notification bell"
            />
            <span class="badge">7</span>
        </button>
        <button class="button">VIACREDI</button>
        <button class="button avatar">
            <img src="../../../../assets/images/avatar.png" alt="user avatar" />
        </button>
    </nav>
</header>
